<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WatchDirs" type="qixiangService.WatchAssistant,qixiangService"/>
  </configSections>
  <WatchDirs>
    <WatchDir>
      <add key="短期预报" value="K:\祁县每日天气" />
    </WatchDir>
  </WatchDirs>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="aimURL" value="http://qixian.wisewechat.cn/accept" />
    <add key="appId" value=""/>
    <add key="radarSend" value="http://qixiang.wisewechat.com/radarReceive"/>
    <add key="TempDPath" value="c:\Temp"/>
    <add key="signature" value=""/>
    <add key="timestap" value=""/>
    <add key="nonce" value=""/>
    <add key="echostr" value=""/>
  </appSettings>
  
  
</configuration>